<section style="background-color: white;">
  <div class="social-media" style="display: flex; justify-content: space-between;">
    <div class="row"><a href="https://drive.google.com/file/d/1fVPCbiZm2hN25bVlGHaioiAc1Xmw69Hq/view?usp=sharing" class="icon-media">
      <img src="../assets/img/cv.png" style="width: 5vh;"></a></div>
    <div class="row"><a href="https://github.com/onikakimasiaod"><img src="../assets/img/github.png" style="width: 5vh;" class="icon-media"></a></div>
    <div class="row"><a href="https://www.instagram.com/onikakimasiao/"><img src="../assets/img/instagram.png" style="width: 5vh;" class="icon-media"></a></div>
    <div class="row"><a href="https://www.facebook.com/profile.php?id=100000156714463"><img src="../assets/img/facebook.png" style="width: 5vh;" class="icon-media"></a></div>
    <div class="row"><a href="https://www.linkedin.com/in/kim-asiao-972239222/"><img src="../assets/img/linkedin.png" style="width: 5vh;" class="icon-media"></a></div>
  </div>
</section>
