<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <span class="p-tag">Junior Web Developer</span>
        <h1 class="mt-4">Onika Kim Asiao Dumbrique</h1>
        <h5 class="mt-3">Wanna contact with me?</h5>
        <p class="p-des mt-3 mb-4">
          If you wanna get in touch, talk to me about a project collaboration or just say hi, I leave you down below my contact information.
        </p>

        <div class="row d-flex flex-column g-2">
          <div class="col-sm-6">
            <img src="../assets/img/email.png" width="30vh"/>
            onikakimasiao@gmail.com
          </div>
          <div class="col-sm-6">
            <img src="../assets/img/call.png" width="30vh"/>
            603 200 924
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
