
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <span class="p-tag">Junior Web Developer</span>
        <h1 class="mt-4">Onika Kim Asiao Dumbrique</h1>
        <p class="p-des mt-3 mb-4">I am a committed person and a good eye for details. I am still finishing my course as a web developer
          but I am ready and excited to learn and develop my skills.</p>
          <a href="#" class="p-readmore">Read more</a>
          <div class="d-flex mt-4">
            <div class="col-1"><a href="https://drive.google.com/file/d/1fVPCbiZm2hN25bVlGHaioiAc1Xmw69Hq/view?usp=sharing"><img src="../assets/img/cv.png" style="width: 5vh;"></a></div>
            <div class="col-1"><a href="https://github.com/onikakimasiaod"><img src="../assets/img/github.png" style="width: 5vh;"></a></div>
            <div class="col-1"><a href="https://www.instagram.com/onikakimasiao/"><img src="../assets/img/instagram.png" style="width: 5vh;"></a></div>
            <div class="col-1"><a href="https://www.facebook.com/profile.php?id=100000156714463"><img src="../assets/img/facebook.png" style="width: 5vh;"></a></div>
            <div class="col-1"><a href="https://www.linkedin.com/in/kim-asiao-972239222/"><img src="../assets/img/linkedin.png" style="width: 5vh;"></a></div>
          </div>
      </div>
    </div>

  </div>
</section>
