<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <span class="p-tag">Junior Web Developer</span>
        <h1 class="mt-4">Onika Kim Asiao Dumbrique</h1>
        <p class="p-des mt-3 mb-4">
          Currently finishing my course as Web developer. Wishing to become a full-stack developer but now I am doing my vocational training on World2Meet as Front-End.
          I am a committed person and a good eye for details. I am ready and excited to learn and develop my skills.
        </p>

        <!--<div class="d-flex mt-4">
          <div class="col-1"><a href="https://drive.google.com/file/d/1fVPCbiZm2hN25bVlGHaioiAc1Xmw69Hq/view?usp=sharing"><img src="../assets/img/cv.png" style="width: 5vh;"></a></div>
          <div class="col-1"><a href="https://github.com/onikakimasiaod"><img src="../assets/img/github.png" style="width: 5vh;"></a></div>
          <div class="col-1"><a href="https://www.instagram.com/onikakimasiao/"><img src="../assets/img/instagram.png" style="width: 5vh;"></a></div>
          <div class="col-1"><a href="https://www.facebook.com/profile.php?id=100000156714463"><img src="../assets/img/facebook.png" style="width: 5vh;"></a></div>
          <div class="col-1"><a href="https://www.linkedin.com/in/kim-asiao-972239222/"><img src="../assets/img/linkedin.png" style="width: 5vh;"></a></div>
        </div>-->

        <h5 class="mt-3">My skills</h5>
        <div>
          <img src="../assets/img/mysql.png" width="50vh"/>
          <img src="../assets/img/mongodb.png" width="90vh"/>
          <img src="../assets/img/postgre.png" width="50vh"/>
          <img src="../assets/img/html-5.png" width="60vh"/>
          <img src="../assets/img/angular.png" width="90vh"/>
          <img src="../assets/img/vue.png" width="60vh"/>
          <img src="../assets/img/js.png" width="60vh"/>
          <img src="../assets/img/css-3.png" width="70vh"/>
          <img src="../assets/img/sass.png" width="50vh"/>
          <img src="../assets/img/bootstrap.png" width="50vh"/>
          <img src="../assets/img/java.png" width="50vh"/>
          <img src="../assets/img/laravel.png" width="130vh"/>
          <img src="../assets/img/nodejs.png" width="70vh"/>
          <img src="../assets/img/php.png" width="50vh"/>
        </div>


      </div>
    </div>

  </div>
</section>
